<div class="row">
	<div class="col-md-6">
		<div class="control-group">
			<label for="nome">Nome</label>
			<input type="text" name="nome" ng-model="pessoa.nome" class="form-control"/>
		</div>
		<div class="control-group">
			<label for="idade">Idade</label>
			<input type="text" name="idade" ng-model="pessoa.idade" class="form-control"/>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-default" ng-click="cancelar()">Cancelar</button>
	<button class="btn btn-primary" ng-click="salvar()">Salvar</button>
</div>